body {
    background-color: #2e2e2e; /* Change the background color to a dark gray */
    margin-top: 50px;
    font-family: 'Arial', sans-serif; /* Change the font to Arial or any other preferred sans-serif font */
}

.item {
    background-color: #ffffff; /* Change the background color of items to white */
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #333; /* Add a border with a dark gray color */
    border-radius: 5px;
    box-shadow: 0 0 1em #888; /* Change the box shadow color to a lighter gray */
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #555; /* Change the box shadow on hover to a darker gray */
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: #fff; /* Change the text color to white */
}

.name {
    padding-top: 3px;
    color: #ff9900; /* Change the text color for the name class to orange */
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #777; /* Change the border color on focus to a slightly lighter gray */
}



/* Add styles for due date and notes */
.due-date-label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #007bff;
}

.notes-label {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

/* Add styles for the priority badges */
.badge-low {
    background-color: #28a745;
}

.badge-normal {
    background-color: #ffc107;
}

.badge-high {
    background-color: #dc3545;
}
